// colors
$background: #082032;
$background-800: #1b3349;
$background-700: #29455e;
$background-600: #375874;
$primary: #2C394B;
$primary-600: #5f7591;
$primary-400: #8396b3;
$primary-200: #b4c3d8;

$secondary: #334756;
$secondary-500: #5d7c94;
$secondary-400: #7590a4;

$highlight: #FF4C29;
$highlight-400: #ff6e4b;
$highlight-300: #ff8a6b;