// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro&family=Consolas&display=swap');

// colors
$background: #082032;
$background-800: #1b3349;
$background-700: #29455e;
$background-600: #375874;
$primary: #2C394B;
$primary-600: #5f7591;
$primary-400: #8396b3;
$primary-200: #b4c3d8;

$secondary: #334756;
$secondary-500: #5d7c94;
$secondary-400: #7590a4;

$highlight: #FF4C29;
$highlight-400: #ff6e4b;
$highlight-300: #ff8a6b;

$consolas: 'Consolas', sans-serif;

body {
    background-color: $background;
    font-family: 'Source Sans Pro', sans-serif;
}

.header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
}

.left_sidebar_container {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
}

.left_sidebar {
    display: flex;
    top: 50px;
    left: 25px;
    color: $primary-400;
    font-family: $consolas;
    
    ul {
        list-style: none;
        padding-left: 14px;
        li {
            margin-bottom: 18px;
            
            a {
                color: $primary-400;
                &:hover {
                    color: $highlight-300;
                }
            }
        }
    }
}

.progress_bar {
    width: 5px;
    height: 90px;
    margin-left: 10px;
    margin-top: 20px;
    .progress_bar_inner {
        width: inherit;
        height: inherit;
        background: $highlight-300;
        transform: rotate(90deg);
        transform-origin: left top;
        border-radius: 8px;
    }
}

.right_sidebar {
    position: fixed;
    bottom: 0;
    right: 50px;
    font-size: 1.5rem;
    color: $primary-400;
    
    ul {
        display: flex;
        flex-direction: column;
        list-style:  none;
    }

    li {
        margin-bottom: 18px;
        cursor: pointer;
        a {
            color: $primary-400;
            &:hover {
                color: $highlight-300;
            }
        }
    }
}

.nav {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 12;
}

.logo {
    width: 42px;
    height: 42px;
}

.main {
    margin: 0px auto;
    padding: 0px 150px;
    max-width: 1600px;
    min-height: 100vh;
}

.heading {
    font-size: 72px;
    letter-spacing: 2px;
}

.hero_section {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0px auto;
    max-width: 1000px;
    padding: 0px;
}

.hero_section .heading {
    margin: 0;
}

.hero_section p {
    max-width: 540px;
}

.inner_section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
}

@media (max-width: 1250px) {
    .inner_section {
        display: block;
    }

    .me {
        margin-top: 50px;
    }

    .project_section {
        .project {       
            display: block !important;
            
            .project_content {
                margin-right: 0 !important;
            }
        }
    }
}

.me {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 4px;
}

.about_section {
    h2 {
        font-size: 32px;
    }

    margin: 0px auto;
    max-width: 1000px;
    padding: 100px 0;
    h2 {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        margin: 10px 0px 40px;
        width: 100%;
        white-space: nowrap;
    }

    h2::after {
            content: "";
            display: block;
            position: relative;
            width: 300px;
            height: 1px;
            margin-left: 20px;
            background-color: $primary;
    }

    p {
        max-width: 500px;
    }

    .about_tech {
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 200px));
        gap: 0px 10px;
        padding: 0px;
        margin: 20px 0px 0px;
        overflow: hidden;
        list-style: none;
        li {   
            position: relative;
            font-family: $consolas;
            color: $primary-400;
            margin-bottom: 10px;
            padding-left: 20px;
            &::before {
                position: absolute;
                content: "\2023";
                color: $highlight-300;
                margin-right: 8px;
                font-size: 1.5rem;
                top: -4px;
                left: 0;
            }
        }
    }
}

.projects_list {
    margin-top: 50px;
    padding: 0;
    li {
        margin-bottom: 300px;
    }
}

.project_section {
    h2 {
        font-size: 32px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        margin: 10px 0px 40px;
        width: 100%;
        white-space: nowrap;
        &::after {
            content: "";
            display: block;
            position: relative;
            width: 300px;
            height: 1px;
            margin-left: 20px;
            background-color: $primary;
        }
    }

    margin: 0px auto;
    max-width: 1000px;
    padding: 100px 0;

    .project:nth-child(2) {

        .project_content {
            position: relative;
            grid-area: 1 / 1 / -1 / 7;
            grid-column: 7 / -1;
            text-align: right;

            .project_tech {
                justify-content: flex-end;
            }
        }

        .imageWrapper {
            grid-area: 1 / 1 / -1 / -1;
        }
    }

    .project {
        position: relative;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(12, 1fr);
        -webkit-box-align: center;
        align-items: center;

        .project_content {
            position: relative;
            grid-area: 1 / 1 / -1 / 7;
            text-align: left;
    
            .project_subtitle {
                color: $highlight-300;
                margin: 0px;
                font-size: 14px;
                letter-spacing: 2px;
            }
            .project_title {
                color: $primary-200;
                margin-top: 0;
                margin-bottom: 12px;
                font-size: 28px;
            }
            .project_descr {
                box-shadow: 0 20px 30px -15px $background;
                background-color: lighten($background, 5%);
                border-radius: 4px;
                z-index: 2;
                position: relative;
                padding: 25px;
                p {
                    color: $primary-400;
                    margin: 0;
                }
            }
            .project_tech {
                display: flex;
                flex-wrap: wrap;
                position: relative;
                z-index: 2;
                margin: 25px 0px 10px;
                padding: 0px;
                list-style: none;
                justify-content: flex-start;
    
                li {
                    font-family: $consolas;
                    color: $primary-400;
                    white-space: nowrap;
                    margin: 0px 0px 5px 20px;
                }
            }
        } 
    }
    
    .imageWrapper {
        grid-area: 1 / 5 / -1 / -1;
        z-index: 1;
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 650px;
            height: 450px;
            border-radius: 4px;
            background: rgba($highlight-300, 0.5);
            cursor: pointer;
            transition: all .3s linear;
        }
        &:hover::before {
            background: none;
        }
    }

    .image {
        z-index: 1;
        width: 650px;
        height: 450px;
        border-radius: 4px;
    }  
}



h2 {
    color: $primary-200;
}

h3 {
    color: $primary-600;
}

p {
    font-size: 18px;
    color: $primary-400;
    line-height: 24px;
}

a {
    color: $highlight-300;
    text-decoration: none;

    &:hover {
        color: $highlight;
    }
}

::selection {
    background: $secondary;
    color: $primary-400;
  }

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 12px;
    margin-right: 5px;
    max-height: 400px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary; 
    border-radius: 10px;
    border: 4px solid $background;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary; 
  }
