// fonts
@use '../styles/fonts' as *;

// colors
@use '../styles/colors' as *;

body {
    background-color: $background;
    font-family: 'Source Sans Pro', sans-serif;
}

.header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
}

.left_sidebar_container {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
}

.left_sidebar {
    display: flex;
    top: 50px;
    left: 25px;
    color: $primary-400;
    font-family: $consolas;
    
    ul {
        list-style: none;
        padding-left: 14px;
        li {
            margin-bottom: 18px;
            
            a {
                color: $primary-400;
                &:hover {
                    color: $highlight-300;
                }
            }
        }
    }
}

.progress_bar {
    width: 5px;
    height: 90px;
    margin-left: 10px;
    margin-top: 20px;
    .progress_bar_inner {
        width: inherit;
        height: inherit;
        background: $highlight-300;
        transform: rotate(90deg);
        transform-origin: left top;
        border-radius: 8px;
    }
}

.right_sidebar {
    position: fixed;
    bottom: 0;
    right: 50px;
    font-size: 1.5rem;
    color: $primary-400;
    
    ul {
        display: flex;
        flex-direction: column;
        list-style:  none;
    }

    li {
        margin-bottom: 18px;
        cursor: pointer;
        a {
            color: $primary-400;
            &:hover {
                color: $highlight-300;
            }
        }
    }
}

.nav {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 12;
}

.logo {
    width: 42px;
    height: 42px;
}

.main {
    margin: 0px auto;
    padding: 0px 150px;
    max-width: 1600px;
    min-height: 100vh;
}

.inner_section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
}

@media (max-width: 1250px) {
    .inner_section {
        display: block;
    }

    .me {
        margin-top: 50px;
    }

    .project_section {
        .project {       
            display: block !important;
            
            .project_content {
                margin-right: 0 !important;
            }
        }
    }
}

@media (max-width: 1000px) {

    .main {
        padding: 0 24px;
    }

    .right_sidebar {
        display: none;
    }

    .left_sidebar_container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: sticky;
        box-shadow: 0 20px 30px -15px rgba(black, .5);
        background-color: $background;
        border-radius: 4px;
        padding: 1rem;

        .left_sidebar {
            display: flex;
            
            .progress_bar {
                display: none;
            }


            ul {
                list-style: none;
                padding-left: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                li {
                    margin-left: 50px;
                    margin-bottom: 0;
                    a {
                        color: $primary-400;
                        &:hover {
                            color: $highlight-300;
                        }
                    }
                }
            }
        }
    }
}

h2 {
    color: $primary-200;
}

h3 {
    color: $primary-600;
}

p {
    font-size: 18px;
    color: $primary-400;
    line-height: 24px;
}

a {
    color: $highlight-300;
    text-decoration: none;

    &:hover {
        color: $highlight;
    }
}

::selection {
    background: $secondary;
    color: $primary-400;
  }

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 12px;
    margin-right: 5px;
    max-height: 400px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary; 
    border-radius: 10px;
    border: 4px solid $background;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary; 
  }
